services:
  docker_moodle-app:
    container_name: docker_moodle-app
    build:
      context: php/
      dockerfile: php.dockerfile  
    restart: always
    volumes:
      - ${VOL_MOODLE}:/var/www/html
      - ${VOL_MOODLEDATA}:/var/www/moodledata
      - ${RACINE}/env/${ENV}/local.ini:/usr/local/etc/php/php.ini
    networks:     
      - docker_moodle    
    depends_on:
      - docker_moodle-db

  moodle_docker-cron:
    container_name: docker_moodle-cron
    build:
      context: cron/
      dockerfile: cron.Dockerfile
    volumes_from:
      - docker_moodle-app
    profiles: [cron]
    restart: always
    volumes:
      - ./log/cron:/var/log/cron
    networks:
      - docker_moodle
    depends_on:
      - docker_moodle-db

  docker_moodle-web:
    container_name: docker_moodle-web
    image: nginx:${NGINX_VERSION}
    restart: always
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
    volumes_from:
      - docker_moodle-app
    ports:
      - "8088:8088"
    networks:
      - proxy
      - docker_moodle
    labels:
      - traefik.enable=true
      - traefik.http.routers.moodle.rule=Host(`${SITE}`)
      - traefik.http.routers.moodle.entrypoints=https
      - traefik.http.services.moodle.loadbalancer.server.port=8088
      - traefik.http.routers.moodle.tls.certresolver=letsencrypt
      - traefik.http.routers.moodle.tls.domains[0].main=cbillon.ovh
      - traefik.http.routers.moodle.tls.domains[0].sans=*.cbillon.ovh
  docker_moodle-db:
    container_name: docker_moodle-db
    image: mariadb:${MARIADB_VERSION}
    restart: always
    environment:
      - MYSQL_USER=${DBUSER}
      - MYSQL_PASSWORD=${DBPASS}
      - MYSQL_DATABASE=${DBNAME}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    volumes:
      - ${VOL_DBDATA}:/var/lib/mysql
      - ./conf/mycustom.cnf:/etc/mysql/conf.d/custom.cnf
    expose:
      - "3306"
    networks:
      - docker_moodle
  docker_moodle-redis:
    image: redis:latest
    container_name: docker_moodle-redis
    volumes:
      - ./cache:/data
    restart: always
    expose:
      - "6379"
    networks:
      - docker_moodle

networks:
  proxy:
    external: {}
  docker_moodle:
    external: false
